@font-face{
  font-family: "dmSans";
  src: url(./assets/font/DMSans-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color:#F8F9FD !important;
  font-family: "dmSans" !important;
  font-size: 18px;
  color: #4C506B;
}